<div class="main-header">
  <div class="room-name"><%= @room.name %></div>
  <div class="quit-chat-button">
    <%= link_to 'チャットを終了する', room_path(@room.id), data: { turbo_method: :delete } %>
  </div>
</div>


<div class="chat-view">
 <%= render partial: 'message', collection: @messages %>
</div>


<%= form_with model: [@room, @message], html: { class: "formInput" }, local: true do |f| %>
  <div class="form">
    <%= f.text_field :content, class: "type-message", placeholder: "type a message" %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: "hidden" %>
    </label>
  </div>
  <%= f.submit '送信', class: 'send-button' %>
<% end %>



<%#

inputタグにtypeを指定しない場合、デフォルトでtype="text"が割り当てられます。



＊＊labelラベル要素＊＊
label要素とは、フォームの中でフォームの項目名（ここでいう「画像」）と
フォームの入力要素（画像選択フォーム、プルダウン、チェックボックスなど）を関連付けるための要素です。

label要素の役割の1つは、label要素（ここでいう<label class="form-image">）がクリックされたときに、
子要素（ここでいう<input type="file" class="hidden">）もクリックされたことにしてくれることです。
この仕組みを使うと、見えないはずのファイル選択ボタン（<input type="file" class="hidden">）をクリックしたかのように動作させることができます。

%>